@media (max-width: 767px) {
	.hero {
		min-height: 300px !important;
	 }
 }

.text-uppercase {
	text-transform: uppercase;
}

.nav-link {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-bottom: 0;
	padding: 0;
}

::selection {
    color: $white;
    background: $brand-primary;
}

//NAV

.green-bar {
	height: 22px;
	background-color: $brand-primary;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9998;
		width: 95%;
		height: 90vh;
	}
}
nav {
	height: 78px;
	background-color: $nav-red;
	h1 {
		font-size: 35px;
		font-weight: 700;
		margin: 0;
	}
	a {
		font-size: 16px;
		border-bottom: 3px solid $yellow;
		&:hover {
			border-bottom: 3px solid $white;
		}
	}
}


//BODY
.bg-white {
	background-color: $white
}

.bg-red {
	background-color: $body-red;
}

.hero {
	height: 582px;
	position: relative;

	.hero-img {
		position: absolute;
		top: -67px;
		left: 0;
		z-index: 9999;

		img {
			width: 100%;
			max-width: 388px;
		}
	}

	.hero-text {
		h2 {
			font-size: 30px;
			margin: 34px 0;
		}
		h3 {
			font-size: 18px;
		}
		a {
		font-size: 18px;
		margin-bottom: 34px;
		}
	}
}

hr {
	margin: 27px 0;
	border-style: dashed;
}

.contact {
	min-height: 394px;
	label {
		text-indent: 25px;
		font-size: 20px;
		color: $body-red;
		margin-top: 34px;
		margin-bottom: 20px;
	}
	input, textarea, select {
		border: 2px solid $input-border;
		color: $footer-color;
		font-family: Montserrat !important;
	}
	button {
		margin: 15px 0;
		font-size: 18px;
		font-family: Montserrat !important;
	}

}

footer {
	height: 73px;
	background-color: $footer-bg;
	color: $footer-color;
	p {
	margin-bottom: 0;
}
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	img {
		margin-right: 10px;
	}
}

.footer-margin {
	margin: 5px 0;
}
