//user vars
$nav-red: #e94643;
$body-red: #ef5350;
$white: #fff;
$yellow: #fdd835;

// bootstrap override
$font-family-sans-serif: Montserrat, Arial;
$brand-primary: #04e4a2;
$link-color: $white;
$link-hover-color: $yellow;
$headings-color: $white;
